<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset='utf-8' />
	<script src="{{ STATIC_URL }}/html/js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	
	function setLocation()
	{
		select = $("#selector")[0];
		k = select.selectedIndex;
		alert(select.options[k].value);
	}
	</script>


</head>
<body>
<select id='selector'  onChange="setLocation()">
	{% for area in arealist %}
	<option value="{{ area.id }}"> {{ area.name}}</option>
	{% endfor %}
</select>

<form enctype="multipart/form-data" method="POST" >
{% csrf_token %}
{{ form.as_table}}
<input type='submit' value='Submit' class='btn'>
</form>


<img src="{{ arealist.0.process_discipline.url }}">
<button onClick="setLocation()"></button>
</body>
</html>
